app-add-articulo.ng-star-inserted {
    width: 100% !important;
}

.edit-form.ng-star-inserted{
    width: 100% !important;
}

app-articulo-details.ng-star-inserted{
    width: 100% !important;
}

.mat-form-field {
    width: 100% !important;
}